/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

/* Make React root take full screen */
#root {
  width: 100%;
  min-height: 100vh;
}

/* Hide scrollbar but keep scroll working */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: none;
}
